.footer-container{
    width: 99.6%;
    margin: 20px 0px 0px 0px;
    height: 300px;
    border-style: solid;
    background-color: rgb(22, 21, 21);
    display: flex;
    flex-direction: column;
}

.boxA{
    border-style: none;
    border-color: white;
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box1{
    border-style: none;
    border-color: white;
    width: 60%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info{
    width: 180px;
    height: 160px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info span{
    color: #878787;
    font-size: 12px;
    font-weight: 100;
    font-family: Roboto;
    margin-bottom: 12px;
}

.footer-info a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-bottom: 2px;
    font-family: Roboto;
    transition: text-decoration 0.15s;
}

.footer-info a:hover{
    text-decoration: underline;
}

.box12{
    border-color: wheat;
    width: 40%;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: grey;
}

.box12-ab{
    width: 210px;
    height: 160px;
    border-style: none;
    margin-right: 10px;
}



.box12-ab span{
    color: #878787;
    font-size: 12px;
    font-weight: 100;
    font-family: Roboto;
    margin-bottom: 12px;
}

.box12-ab p{
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-bottom: 2px;
    font-family: Roboto;
}

.box2{
    border-color: white;
    width: 100%;
    height: 60px;
    border-top-color: #878787;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#box2-anchor{
    text-decoration: none;
    color: white;
    font-size: 12px;
}