*{
    font-family: Roboto;
}


.header-container{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.flipkart-logo-anchor{
    width: 10%;
    height: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.flipkart-logo{
    width: 100%;
    height: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
#logo-heading{
    margin: 0px;
    color: blue;
    font-family: 'Caveat', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 18px;
}

#logo-para{
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}

#explore{
    color: grey;
    font-weight: 500;
}

#plus{
    color: #ffc200;
    font-weight: 300;
}

.search-bar{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    box-sizing: border-box;
}

#header-search-bar{
    width: 600px;
    height: 40px;
    border: none;
    padding: 0px;
    outline: none;
    margin-left: 6px;
}

input[placeholder]{
    font-size: 16px;
    color: black;
}

.header-icons{
    width: 35%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.seller-anchor{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.seller{
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.seller-text{
    margin: 0px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.profile-button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 38px;
    width: 105px;
    border-radius: 8px;
    color: black;
}

.profile-button-container:hover{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#profile-anchor{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

.sign-in-text{
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.shopping-container{
    width: 15%;
    height: 40px;
    display: flex;
}

.menu-button{
    background-color: white;
    border-style: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.menu-button:hover{
    box-shadow: 0px 0px 3px -1px black;
}