body{
    background-color: rgb(241, 242, 244);
}

main{
    margin-top: 70px;
    height: 1650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container{
    box-sizing: border-box;
    background-color: white;
    width: 99.5%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-anchor{
    height: 100px;
    width: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    
}

#product-text{
    color: #333333;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 510;
}

.banner{
    width: 100%;
    height: 230px;
    margin-top: 15px;
}


.banner2{
    width: 100%;
    height: 120px;
    margin-top: 15px;
}

.main-container3{
    width: 100%;
    height: 280px;
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile-container{
    width: 82%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobile-container-heading{
    padding: 10px 20px 0px;
    margin: 5px 0px;
}

.products-smartphone-container{
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.products-smartphone{
    width: 168px;
    height: 210px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.product-img-hover:hover{
    transform: scale(1.05);
    transition: transform 0.15s;
}

.main-container4{
    width: 98%;
    height: 236px;
    background-color: white;
    margin: 30px;
    display: flex;
    flex-shrink: inherit;
    align-items: center;
    justify-content: space-between;
}